*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
}

#header{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    /* border-bottom: 3px solid black; */
    box-shadow: 50px 20px 34px rgba(0, 0, 0, 0.2);
    z-index: 999;/* if not present the images will pass over the navbar */
    position: sticky;
    top:0;left:0;
}

#navbar{
    /* background-color: #E3E6F3; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #1a1a1a;
    /* transition: 0.3s each; */
}

#navbar li a:hover,
#navbar li a.active{
    color: rgb(90, 206, 235);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(90, 206, 235);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* #mobile{
    display: none;
    align-items: center;
} */

#banner{
    background-repeat: no-repeat;
    background-image: url("images/images96.jpeg");
    height: 90vh;
    /* width:auto; */
    /* background-size: cover; */
    background-color: #E3E6F3;

    background-position: top 25% right 0;
    /* padding: 50 50 px; */
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: red; */
}

#banner h1{
    margin: 0px;
    padding-bottom: 0px;
    font-style: italic;
    font-size: 40px;
    color: rgb(101, 159, 174);
}
#banner h3{
    margin-bottom: 10px;
    font-style: oblique;
    font-size: 25px;
    /* color: red; */
}

.bannerbutt{
    border: 3px solid black;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 700;
    color: black;
    background-color: white;
    text-decoration: none;
    /* border-radius: 30%; */
    /* border-start-end-radius: 10px; */
    border-radius: 10px;
    cursor: pointer;
}

.bannerbutt:hover{
    background-color: cornflowerblue;
}

/* #banner button{
    border: 3px solid black;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 700;
    background-color:cornflowerblue;
    border-radius: 30%;
    border-start-end-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
} */

#feature{
    margin: 40px 10px;
    /* max-width: 100%; */
    /* width: auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* wraps items around when dimensions are changed */
    /* text-align: center; */
}

.box1{
    overflow: auto;
    /* object-fit:scale-down; */
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .box1:hover{
    /* hover kaam nhi kr rha */
    box-shadow: 10px 10px 54px rgba(70, 62, 2021, 0.2);
    /* apply zoom effect here */
}

#feature.box1 img{
    width: 100%;
    margin-top: 10px;
}

#feature .box1 h3{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#products{
    text-align: center;
    /* width: auto; */
}

#products .pro{
    width: 20%;
    margin: 25px 0px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
    position: relative;
    /* background-color: red; */
}

#products .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#products .pro img{
    width: 100%;
    background-color: grey;
    border-radius: 20px;
}

#products .pro .describe{
    text-align: start;/* inline contents are aligned at the start of the box */
    padding: 10px 0;
    /* margin: 10px 0px; */

}

#products .pro .describe span{
    color: #606063;
    font-size: 15px;
}

#products .pro .describe h4{
    margin: 10px 0px;
    color: #1a1a1a;
    font-size: 20px;
}

#products .star{
    font-size: 12px;
    color: rgb(243,181,25);
}

#products .price{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    color: #088178;
}

#products .cart{
    /* background-color: red; */
    width: 30px;
    height: 30px;
    line-height: 60px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#products .product1{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#adstrip{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1b243f;
    /* background-image: url(images/lol4.jpg); */
    /* It works */
    width: 100%;
    min-height: 250px;
    /* height: 40vh; */
    background-size: cover;
    background-position: center;
}

#adstrip h3{
    margin: 0px 0px;
    /* padding: 0px; */
    color: #fff;
    font-size: 20px;
}

#adstrip h2{
    /* padding: 0px; */
    /* font-size: 30px; */
    color: #fff;
    font-size: 40px;
}

#adstrip h2 span{
    color: rgb(247, 155, 70);
}

#adstrip .butt{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#adstrip .butt:hover{
    background-color: #088178;
    color: #fff;
}

#holdings {
    /* margin: 20px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#holdings .holdingbox1{
    margin: 20px 0px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 20px;
    /* text-align: center; */
    background-color: red;;
    /* background-image: url(images/banner2.jpeg); */
    /* It works */
    /* width: 50px; */
    min-width: 565px;
    /* max-width: 580px; */
    min-height: 250px;
    /* height: 50vh; */
    background-size: cover;
    background-position: center;
}

#holdingbox1{ 
    background-image: url(images/banner2.jpeg);
} 

#holdingbox2{ 
    background-image: url(images/banner1.jpeg);
} 

#holdings h3{
    margin: 0px;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 300;
}

#holdings h1{
    margin: 10px 0px;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 800;
}

#holdings span{
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#holdings .butt{
    font-size: 16px;
    font-weight: 600;
    padding: 15px 17px;
    color: #1a1a1a;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid red;
    outline: none;
    transition: 0.2s;
}

#holdings .holdingbox1:hover .butt{
    background-color: #088178;
    color: #fff;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 20px; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    
}

footer .col h3{
    text-decoration: underline;
}

footer .install{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    
}

footer .install h3{
    margin-bottom:10px;
    text-decoration: underline;
}

/* footer .copyright{
    margin-left: 100px;
} */

footer .h3{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 16px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin: 0 0 8px 0;
}

footer .icontag{
    color: #465b52;
    /* margin-right: 10px; */
}
footer .icon{
    color: #465b52;
    margin-right: 10px;
}

footer .icon:hover,
footer a:hover{
    color: #0db9ad;
}

footer .copyright{
    width: 100%;
    text-align: center;
    /* Both are necessary to bring a text in center */
}

/* @media (max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile #bar{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
} */

/* BLOG Page */
#blogpost{
    background-color: #a9adaf;
    margin: 20px 0px;
}

#postitle{
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    border: 2px solid black;
    outline: none;
    font-family: 'sans-serif';
}

#postBody{
    margin: 0 10px 10px 10px;
    border: 2px solid black;
    outline: none;
    /* top right bottom left */
    font-size: 25px;
    font-family: 'sans-serif';
}

#submitbutt{
    margin: 0 10px 10px 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 17px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid white;
    outline: none;
    transition: 0.2s;
}
#submitbutt:hover{
    background-color:cornflowerblue;
    color: black;
    border: 2px solid black;
}

/* About Section */

#abtitle{
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: sans-serif;
    text-decoration: underline;
    background-color: orange;
    border-radius: 50px;
    padding: 10px 0px;
    /* margin-bottom: 10px; */
}
.aboutsect1{
    display: flex;
    margin: 50px 0 50px 0;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.aboutsect1 div{
    margin-left: 20px;
}

.aboutsect1 div h1{
    font-size: 30px;
    text-decoration: underline;
}

.aboutsect1 div p{
    /* margin-left: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 25px;
    font-style: oblique;
}

/* Contacts section */
.contactsect{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    background-color: #a9adaf;
    padding: 0px;
}

.contactimage{
    /* background-color: red; */
    padding-top: 160px;
    padding-left: 50px;
    color: white;
}
.contactsect .contcol{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 20%;
    margin: 25px 0px;
    min-width: 200px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
}

.contactsect .contcol p{
    font-size: 20px;
}
/* width: 20%;
    margin: 25px 0px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0; */
