<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>E-Commerce</title>

    <section id="header">
        <!-- <a href='#'>logo</a> -->
            <img src="images/logo123.png" alt="Unable to load image"></a>

    <div>
        <ul id="navbar">
            <li><a class="active" href="/">Home</a></li>
            <!-- <li><a href="/shop">Shop</a></li> -->
            <li ><a class="sentence" href="/blog">Feedback</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="https://www.amazon.in/?&ext_vrnc=hi&tag=googhydrabk1-21&ref=pd_sl_nxqtetlae_e&adgrpid=60571832564&hvpone=&hvptwo=&hvadid=486453138860&hvpos=&hvnetw=g&hvrand=8760431344833375080&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1007748&hvtargid=kwd-296458789801&hydadcr=14452_2154371&gclid=Cj0KCQiAj4ecBhD3ARIsAM4Q_jGwhA9xysj6SV239Md0FeDSvs5gqBUAJyLkR84P4YiLfgtmYTh-YJkaAu6CEALw_wcB"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>
    </section>

</head>