<%-include("partials/header")-%>

<div class="contactsect">
    <div>
        <img class="contactimage" src="images/contactimage1.png" alt="Unable to load image">
    </div>
    
    <div class="contcol">
        <h1>Home Customers</h1>
        <p>
            Individuals purchasing products or services for personal use.
        </p>
        <p>
            1800 108 4747
        </p> 
        <p>
            1833 750 0500 (WhatsApp)
        </p> 
            
        </p>
    </div>
    <hr>
    <div>
        <img class="contactimage" src="images/contactimage2.png" alt="Unable to load image">
    </div>
    
    <div class="contcol">
        <h1>Business Customers</h1>
        <p>
            Individuals or companies purchasing products or services for professional use.
        </p>
        <p>
            1800 108 4746
        </p>   
        <p>
            1833 750 0500 (WhatsApp)
        </p>    
    
        </p>
    </div>
    <hr>
    <div>
        <img class="contactimage" src="images/contactimage3.png" alt="Unable to load image">
    </div>

    <div class="contcol">
        <h1>Education Store</h1>
        <p>
            For students, teachers, schools looking for savings and value.
        </p>
        <p>
            1800 108 4747
        </p>  
        <p>
            VISIT STORE
        </p>   
        </p>
    </div>

    <div>
        <img class="contactimage" src="images/contactimage4.webp" alt="Unable to load image">
    </div>
    
    <div class="contcol">
        <h1>Home Customers</h1>
        <p>
            Individuals purchasing products or services for personal use.
        </p>
        <p>
            1800 108 4747
        </p> 
        <p>
            1833 750 0500 (WhatsApp)
        </p> 
            
        </p>
    </div>
    <hr>
    <div>
        <img class="contactimage" src="images/contactimage1.png" alt="Unable to load image">
    </div>
    
    <div class="contcol">
        <h1>Home Customers</h1>
        <p>
            Individuals purchasing products or services for personal use.
        </p>
        <p>
            1800 108 4747
        </p> 
        <p>
            1833 750 0500 (WhatsApp)
        </p> 
            
        </p>
    </div>
    <hr>
    <div>
        <img class="contactimage" src="images/contactimage6.webp" alt="Unable to load image">
    </div>
    
    <div class="contcol">
        <h1>Home Customers</h1>
        <p>
            Individuals purchasing products or services for personal use.
        </p>
        <p>
            1800 108 4747
        </p> 
        <p>
            1833 750 0500 (WhatsApp)
        </p> 
            
        </p>
    </div>
</div>


<%-include("partials/footer")-%>