<%-include("partials/header")-%>
<link rel="stylesheet" href="CSS/style.css">
<body>
    
    <!-- <div id="mobile">
        <a href="cart.html">Buy</a>
        <i id="bar" class="fas fa-outdent"></i>
    </div> -->


    <section id="banner">
        <h3>Same Day Delivery</h3>
        <h1>Super Value Deals</h1>
        <h1>On all Products</h1>
        <p>Save more with coupons and huge discounts</p>
        <a href="https://www.amazon.in/?&ext_vrnc=hi&tag=googhydrabk1-21&ref=pd_sl_1jyasdi57f_e&adgrpid=60456322738&hvpone=&hvptwo=&hvadid=486459496700&hvpos=&hvnetw=g&hvrand=13408514611823327643&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1007748&hvtargid=kwd-295905178780&hydadcr=14451_2154369&gclid=CjwKCAiA7IGcBhA8EiwAFfUDsSob_3KgjX79L6og1WPliQBNFv8Fw3yXhDOLXe67pGAoawz5Sds9QRoCYTwQAvD_BwE" class="bannerbutt">Shop Now</a>
        <!-- <button>Shop Now</button> -->
    </section>

    <section id="feature" class="section1">
        <div class="box1">
            <img id="nani" src="images/FreeShipping1.jpeg" alt="">
            <h3>Free Shipping</h3>
        </div>
        <div class="box1">
            <img src="images/onlineorder2.jpeg" alt="">
            <h3>Online Order</h3>
        </div>
        <div class="box1">
            <img src="images/SendMoney3.jpeg" alt="">
            <h3>Send Money</h3>
        </div>
        <div class="box1">
            <img src="images/Promotions.jpeg" alt="">
            <h3>Promotions</h3>
        </div>
        <div class="box1">
            <img src="images/support1.jpeg" alt="">
            <h3>24/7 Support</h3>
        </div>
    </section>

    <section id="products" class="section1">
        <h1 id="abtitle">Featured Products</h1>
        <div class="product1">
            <div class="pro">
                <img src="images/laptop.webp" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/laptop3.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>Lenovo</span>
                    <h4>Lenovo IdeaPad 512GB SSD Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/headphone3.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>JBL</span>
                    <h4>JBL T460BT</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;3500</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/laptop2.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/headphone1.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>Zebronics</span>
                    <h4>Zebronics Zeb-Thunder</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;2000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/laptop1.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/headphone2.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>Boat</span>
                    <h4>Boat Rockerz Heaadphone</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;5000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/laptop4.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Nitro 5 8GB Ram gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;80000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
        </div>
        
    </section>

    <section id="adstrip">
        <h3>Repair Services Available</h3>
        <h2>Minimum <span>1-Year Warranty</span> on all our products</h2>
        <button class="butt">Explore More</button>
    </section>

    <section id="products" class="section1">
        <h1 id="abtitle">New Arrivals</h1>
        <div class="product1">
            <div class="pro">
                <img src="images/laptop.webp" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/laptop1.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/laptop3.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/laptop4.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/headphone1.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/laptop3.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/headphone3.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/headphone2.jpeg" alt="Unable to load image">
                <div class="describe">
                    <span>HP</span>
                    <h4>HP Pavillion gaming Laptop</h4>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="price">&#x20B9;65000</h5>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></i></a>
            </div>
        </div>
        
    </section>

    <section id="holdings" class="section1">
        <div id="holdingbox1" class="holdingbox1">
            <h3>Crazy Deals</h3>
            <h1>Buy 1 Get 1 Free</h1>
            <span>Best laptops on sale</span>
            <button class="butt">Know More</button>
        </div>
        <div id="holdingbox2" class="holdingbox1">
            <h3>Crazy Deals</h3>
            <h1>Buy 1 Get 1 Free</h1>
            <span>Best laptops on sale</span>
            <button class="butt">Know More</button>
        </div>
    </section>

<%-include("partials/footer")-%>